* {
    font-family: hybrid;
    font-size: 24px;
}

button {
    margin: 10px 10px 10px 0;
    background-color: white;
}

hr {
    border: none;
    height: 1px;
    background-color: green;
}

img {
    border: 1px solid black;
}

canvas {
    border: 1px solid black;
    filter: drop-shadow(4px 4px 4px rgba(160, 0, 210, .5));
}

.wrapper {
    margin: 40px;
    font-size: 20px;
}

.instructions {
    margin: 10px;
}

.highlight {
    background-color: yellow;
}
